@font-face {
    font-family: 'Epiloque-Regular';
    src: url('../../fonts/epilogue.regular.ttf');
}


.link{
    font-size: 16px;
    font-family: Epiloque-Regular, sans-serif;
    color: rgba(57, 20, 0, 0.64);
    cursor: pointer;
}

.active{
    color: #16CD53;
}